.DS_Store
*xcworkspace/xcuserdata/*
Grouping/.DS_Store
*.xcbkptlist
*.xcuserstate
Grouping/Grouping.xcodeproj/xcuserdata
Grouping/Grouping.xcworkspace/xcuserdata
Grouping/Grouping.xcodeproj/xcuserdata
Grouping/Grouping.xcworkspace/xcuserdata
Grouping/Pods/
Grouping/Podfile.lock
Grouping/Grouping/Application/GoogleService-Info.plist